.row.carousel-section.visible-xs
  .hidden.hidden-left-xs
  .show-container-xs
    each cert,index in certList
      .license.col-xs-4(data-i="#{index}")
        .img-container(style="background-image:url(#{cert.urlWhole})")
          img(src="#{cert.urlWhole}")
        if (cert.nameEn != '' && cert.nameEn != null)
          p.desc(title='#{cert.nameEn}') #{cert.nameEn}
        else
          p.desc &nbsp;
