.footer-container
  #footer-container
    .container
      .row
        .support.col-xs-12
          .contact.context
            .col-xs-12.col-sm-4
              i.glyphicon.glyphicon-tel.sup-i
              p.tel
            .col-xs-12.col-sm-4
              i.glyphicon.glyphicon-location.sup-i
              p.location
            .col-xs-12.col-sm-4
              i.glyphicon.glyphicon-email.sup-i
              p.email
    nav.navbar.bottom.navbar-inverse.footer-copyright.text-center
      .container.follow-us
        span.socail.context.icon-num
          //- 通过JS动态添加
          //- i.glyphicon.glyphicon-facebook
          //- i.glyphicon.glyphicon-linkedIn
          //- i.glyphicon.glyphicon-twitter
      if (fb !== '1')
        .container.quick-links.text-center
          .links.context
            if(plat != '1')
              span.col-xs-12
                a(href='/?shopId=#{shopId}') Home
            span.col-xs-12
              a(href='/products?shopId=#{shopId}') Products
            if(fb !== '1' && (blogCount > 0))
              if(pageCode === 'blog')
                span.col-xs-12
                  a(href='/blog/#{shopId}') Blog
              else
                span.col-xs-12
                  a(href='/blog/#{shopId}') Blog
            if(plat != '1')
              span.col-xs-12
                a(href='/profile?shopId=#{shopId}') Company Profile
              span.col-xs-12
                a(href='/contacts?shopId=#{shopId}') Contact Us
      //- .container
      //-   .copyright-line
      //- .container.discribe
      //-   p ONLOON &copy; All Rights Reserved. POWERED BY ONLOON
      a.cd-top
        i.theme-icon.icon-chevron-up
        p TOP
