.footer-container
  nav.navbar.navbar-inverse.footer-top.bottom.text-center
    .container
      .row
        if (fb !== '1')
          .col-xs-12
            .follow-us.text-left.pull-left
              //p.title.col-xs-12 Follow Us
              p.social.context.icon-num
                //- 通过JS动态添加
                //- i.glyphicon.glyphicon-facebook
                //- i.glyphicon.glyphicon-linkedIn
                //- i.glyphicon.glyphicon-twitter
            .quick-links.text-right.pull-right
              //- p.title.col-xs-12 Quick links
              .links.context
                if(plat != '1')
                  span.nav-link
                    a(href='/?shopId=#{shopId}') Home
                span.nav-link
                  a(href='/products?shopId=#{shopId}') Products
                br.visible-xs
                if(plat != '1')
                  span.nav-link
                    a(href='/blog/#{shopId}') Blog
                  span.nav-link
                    a(href='/profile?shopId=#{shopId}') Company Profile
                  span.nav-link
                    a(href='/contacts?shopId=#{shopId}') Contact Us
        else
          .col-xs-12
            .follow-us
              //- p.title.col-xs-12 Follow Us
              p.social.context.icon-num
                //- 通过JS动态添加
                //- i.glyphicon.glyphicon-facebook
                //- i.glyphicon.glyphicon-linkedIn
                //- i.glyphicon.glyphicon-twitter


  .footer-main#footer-container
    .container
      .row
        .col-xs-12
          //- .footer-logo.container
          //-   img.logo-img
          //- .quick-links.text-center
          //-   p.title.col-xs-12 Quick links
          //-   .links.context
          //-     if(plat != '1')
          //-       span.nav-link
          //-         a(href='/?shopId=#{shopId}') Home
          //-     span.nav-link
          //-       a(href='/products?shopId=#{shopId}') Products
          //-     if(plat != '1')
          //-       span.nav-link
          //-         a(href='/profile?shopId=#{shopId}') Company Profile
          //-       span.nav-link
          //-         a(href='/contacts?shopId=#{shopId}') Contact Us
          //- .context-line
          .support
            //- p.title.col-xs-12 Support
            .contact.context
              .contact-item.col-sm-4.com-xs-12
                i.glyphicon.glyphicon-location.sup-i
                p.location
              .contact-item.col-sm-4.com-xs-12
                i.glyphicon.glyphicon-email.sup-i
                p.email
              .contact-item.col-sm-4.com-xs-12
                i.glyphicon.glyphicon-tel.sup-i
                p.tel
          //- .follow-us
          //-   p.title.col-xs-12 Follow Us
          //-   p.social.context.icon-num
          //-     //- 通过JS动态添加
          //-     //- i.glyphicon.glyphicon-facebook
          //-     //- i.glyphicon.glyphicon-linkedIn
          //-     //- i.glyphicon.glyphicon-twitter

  //- .footer-copyright.text-center
  //-   .container
  //-     .row
  //-       .col-xs-12
  //-         .discribe
  //-           | Onloon &copy; All Rights Reserved. Powered by onloon
a.cd-top
  i.theme-icon.icon-chevron-up
  p Back to top
