.row.carousel-section.hidden-xs
  .hidden.hidden-left
  .show-container
    each cert,index in certList
      if(index < 4)
        .license.col-sm-3(data-i="#{index}")
          .img-container(style="background-image:url(#{cert.urlWhole})")
            img(src="#{cert.urlWhole}")
          if (cert.nameEn != '' && cert.nameEn != null)
            p.desc(title='#{cert.nameEn}') #{cert.nameEn}
          else
            p.desc &nbsp;
  .hidden.hidden-right
    each cert,index in certList
      if(index >= 4)
        .license.col-sm-3(data-i="#{index}")
          .img-container(style="background-image:url(#{cert.urlWhole})")
            img(src="#{cert.urlWhole}")
          if (cert.nameEn != '' && cert.nameEn != null)
            p.desc(title='#{cert.nameEn}') #{cert.nameEn}
          else
            p.desc &nbsp;
