.footer-container
  if (fb !== '1')
    nav.navbar.bottom.navbar-inverse.footer-copyright.text-center
      .container
        .row
          .col-xs-12
            .quick-links.text-center
              //- p.title.col-xs-12 Quick links
              .links.context
                if(plat != '1')
                  span.col-xs-12.nav-link
                    a(href='/?shopId=#{shopId}') Home
                span.col-xs-12.nav-link
                  a(href='/products?shopId=#{shopId}') Products
                if(fb !== '1' && (blogCount > 0))
                  if(pageCode === 'blog')
                    span.col-xs-12.nav-link
                      a(href='/?blog=#{shopId}') Blog
                  else
                    span.col-xs-12.nav-link
                      a(href='/?blog=#{shopId}') Blog
                if(plat != '1')
                  span.col-xs-12.nav-link
                    a(href='/profile?shopId=#{shopId}') Company Profile
                  span.col-xs-12.nav-link
                    a(href='/contacts?shopId=#{shopId}') Contact Us
  #footer-container
    .container
      .row
        .col-xs-12
          //- .footer-logo.container
          //-   img.logo-img
          //- .quick-links.text-center
          //-   p.title.col-xs-12 Quick links
          //-   .links.context
          //-     if(plat != '1')
          //-       span.col-xs-12.nav-link
          //-         a(href='/?shopId=#{shopId}') Home
          //-     span.col-xs-12.nav-link
          //-       a(href='/products?shopId=#{shopId}') Products
          //-     if(plat != '1')
          //-       span.col-xs-12.nav-link
          //-         a(href='/profile?shopId=#{shopId}') Company Profile
          //-       span.col-xs-12.nav-link
          //-         a(href='/contacts?shopId=#{shopId}') Contact Us
          //- .context-line
          .support
            //- p.title.col-xs-12 Support
            .contact.context
              .contact-item.col-sm-4.com-xs-12
                i.glyphicon.glyphicon-location.sup-i
                p.location
              .contact-item.col-sm-4.com-xs-12
                i.glyphicon.glyphicon-email.sup-i
                p.email
              .contact-item.col-sm-4.com-xs-12
                i.glyphicon.glyphicon-tel.sup-i
                p.tel
          //- .follow-us
          //-   p.title.col-xs-12 Follow Us
          //-   p.social.context.icon-num
          //-     //- 通过JS动态添加
          //-     //- i.glyphicon.glyphicon-facebook
          //-     //- i.glyphicon.glyphicon-linkedIn
          //-     //- i.glyphicon.glyphicon-twitter
  nav.navbar.bottom.navbar-inverse.footer-copyright.text-center
    .container
      .row
        .col-xs-12
          .follow-us
            //- p.title.col-xs-12 Follow Us
            p.social.context.icon-num
              //- 通过JS动态添加
              //- i.glyphicon.glyphicon-facebook
              //- i.glyphicon.glyphicon-linkedIn
              //- i.glyphicon.glyphicon-twitter
          .discribe
            //| Onloon &copy; All Rights Reserved. Powered by onloon
a.cd-top
  i.theme-icon.icon-chevron-up
  p Back to top
